<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <style type="text/css">
        @import "/css/bootstrap.min.css";
    </style>
</head>
<body>
<div data-th-fragment="header">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header col-md-1">
                    <a class="navbar-brand" href="/" style="color: #047d65">itpylon</a>
                </div>
            </div>

        </nav>
    </div>
    <div style="margin-top: 3.5%">
        <!--遮挡部分-->
    </div>
</div>
</body>
</html>